@import "../../../../style/variables";

$baseClass : $prefix + 'analysis-form-renderer-tab';

.#{$baseClass}{
    width: 100%;

    .#{$baseClass}-row{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 5px;
        width: auto;
        align-items: flex-start;
        flex-wrap: nowrap;

        & > div{
            width: calc(50% - 30px);
        }
    }
}