@import "./variables.scss";

#root {
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom: 0;
}

.Maps {
    font-family: "Roboto", sans-serif !important;
    font-weight: 100;
    font-size: 14px;
    background: #f9f9f9;
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;

    img.leaflet-marker-icon{
        border: 0;
        outline: 0;
    }

    .cmaps-cluster {
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.82);
        width: 100%;
        height: 100%;
        border-radius: 50%;
        text-align: center;
        color: #fff;
    }

    img {
        border: 0;
        outline: 0;
    }

    *[class^="cmaps"], *[class^="maps"] {
        font-weight: 100;
        box-sizing: border-box;

        b, h1, h2, h3, h4, h5, h6 {
            font-weight: bold;
        }
    }

    .#{$prefix}close{
        position: absolute;
        top: 0;
        right: -40px;
        width: 40px;
        height: 40px;
        line-height: 40px;
        background: $primary1Color;
        overflow: hidden;
        cursor: pointer;
        text-align: center;
        transition: 0.3s;
        z-index: 30;

        &:hover{
            background: $primary1Color;
        }
    }

    .#{$prefix}tools {
        display: inline-block;
        vertical-align: top;
        background: #eee;
        transition: 0.3s;
        top: -2px;
        left: 0;
        bottom: 0;
        position: absolute;
        z-index: 10;
        border-right: 1px solid #ccc;
        height: 100%;
        overflow: hidden;

        .#{$prefix}title{
            position: relative;
            display: none;
            z-index: 100;
            top: 0;
            background: $primary1Color;
            color: #fff;
            padding: 0 10px;
            height: 40px;
            line-height: 40px;
            transition: 0.3s;
            width: 100%;

            .maps-icon{
                cursor: pointer;
                padding: 10px 14px;
                transition: 0.3s;
                height: calc(100% - 2px);
                position: absolute;
                right: 0;
                top: 2px;

                &:hover{
                    background: rgba(0,0,0,.2);
                }
            }
        }

        .#{$prefix}tool-icons{
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            z-index: 100;
            background: #eee;

            .#{$prefix}tool-icon {
                width: 50px;
                height: 50px;
                line-height: 50px;
                position: relative;
                text-align: center;
                cursor: pointer;
                transition: 0.2s;
                border-bottom: 1px solid #eee;
                border-top: 1px solid #eee;

                &:hover {
                    background: #f0f0f0;

                    *{
                        color: #777 !important;
                        fill: #777 !important;
                    }
                }

                &.#{$prefix}active{
                    background: #f9f9f9;
                    z-index: 20;
                    position: relative;
                    border-bottom: 1px solid #ddd;
                    border-top: 1px solid #ddd;

                    &:hover{
                        background: #f9f9f9;

                        *{
                            color: $primary1Color !important;
                            fill: $primary1Color !important;
                        }
                    }
                }
            }
        }

        .#{$prefix}tool-current{
            width: calc(100% - 50px);
            height: 100%;
            margin-left: 49px;
            padding: 0;
            background: #f9f9f9;
            box-shadow: 0 0 5px #999;
            position: relative;
            transition: 0.3s;

            .#{$prefix}tool-title {
                height: 45px;
                color: $primary1Color;
                width: calc(100% - 19px);
                position: relative;
                z-index: 10;
                text-align: center;
                padding: 15px 0 0 15px;
                font-size: 1.3em;
                display: flex;
                flex-direction: row;
                align-content: center;
                align-items: center;
                justify-content: start;
            }

            .#{$prefix}tool-container {
                margin: 0;
                padding: 0;
                position: absolute;
                overflow: auto;
                top: 50px;
                width: 100%;
                bottom: 0;
            }
        }
    }

    .#{$prefix}map-container{
        display: inline-block;
        vertical-align: top;
        top: 0;
        left: 50px;
        bottom: 0;
        right: 0;
        position: absolute;
        transition: 0.3s;
        z-index: 0;

        .#{$prefix}map {
            width: 100%;
            height: 100%;
        }
    }
}