.cmaps-color-picker-container {
    max-width: 200px;
    min-width: 200px;

    .cmaps-color-picker-input-container {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;

        .cmaps-color-picker-circle {
            width: 25px;
            height: 25px;
            cursor: pointer;
            background: black;
            border: solid white 2px;
            border-radius: 50%;
            box-shadow: 0 0 0 2px rgb(189, 189, 189);
            display: inline-block;
        }
        .cmaps-color-picker-input{
            width: calc(100% - 25px) !important;
            margin-left: 10px;
            //max-width: 70%;
        }
    }
}

