@import "./variables";

.#{$app}-input-range {
    position: relative;
    width: 100%;
    height: 60px;
    justify-content: space-around;
    display: flex;
    flex-direction: column;

    .#{$app}-input-range-custom-label {
        position: relative;
        color: rgba(0, 0, 0, 0.298039);
        font-size: 0.75em;
        padding-bottom: 4px;
    }
}
