@import "variables";

.#{$app}-legend-container {
    padding: 5px;
    margin: 6px 0;
    border: solid 1px #eee;
}

.#{$app}-heatmap-legend {
    width: 100%;

    & .#{$app}-gradient {
        opacity: 0.6;
        height: 15px;
        width: 93%;
        margin: 5px auto;
        border-radius: 6px;
    }

}

.#{$app}-thematic-color-legend {
    width: 100%;
    flex-flow: row;
    display: flex;
    margin-bottom: 5px;

    span {
        line-height: 20px;
        margin: 0 6px;
    }

    &:last-child {
        margin-bottom: 0;
    }

    .#{$app}-legend-color-point {
        min-width: 20px;
        height: 20px;
        margin: 0 6px;
        border-radius: 100%;
    }

    .#{$app}-legend-color-polygon {
        width: 20px;
        height: 20px;
        margin: 0 6px;
        clip-path: polygon(0 0, 100% 50%, 100% 100%, 0% 100%);
    }

    .#{$app}-legend-color-line {
        width: 20px;
        height: 20px;
        margin: 0 6px;
        clip-path: polygon(100% 0, 99% 10%, 10% 100%, 0 100%, 0 90%, 90% 2%);
    }
}

.#{$app}-thematic-size-legend {
    position: relative;
    width : 100%;
    height : 250px;
    justify-content: center;

    & .#{$app}-thematic-size-legend-circle {
        position: absolute;
        bottom: 10px;
        width : 200px;
        height : 200px;
        border-radius: 50%;
        background: rgba(122, 122, 122, 0.3);
    }

    & .#{$app}-thematic-size-legend-line-container {
        position: relative;
        width: 100%;
        height: 100%;
    }

    & .#{$app}-thematic-size-legend-line {
        position: absolute;
        top: 5px;
        border-top: 1px solid rgba(170,170,170,0.8);
        width: 111px;
        height: 15px;
        font-size: 0.9em;
        overflow: hidden;
        word-break: break-all;
        text-overflow: ellipsis;
        font-weight: bold;
    }
}

.#{$app}-simple-renderer-legend {
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    .#{$app}-legend-color-point {
        min-width: 20px;
        height: 20px;
        margin: 0 6px;
        border-radius: 100%;
    }

    & .#{$app}-color {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: solid 1px;
        margin: 0 6px;
    }

    & .#{$app}-icon {
        width: 30px;
        height: 30px;
    }

    & .#{$app}-text-legend {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        max-width: 85%;
        cursor: default;
    }

}

.#{$app}-cluster-legend {
    width: 100%;
    flex-flow: column;
    align-items: baseline;

    & .#{$app}-cluster-legend-container {
        display: flex;
        padding: 1px 0;
        align-items: center;
        width: 100%;
    }

    & .#{$app}-cluster-legend-color-border {
        border-radius: 50%;
        margin: 0 auto;
    }

    & .#{$app}-cluster-legend-color {
        border-radius: 50%;
    }

}
