
.#{$prefix}ToolBasemap{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  
  .#{$prefix}basemap{
    margin : 5px;
    width : calc(50% - 25px);
    height: 110px;
    line-height: 110px;
    vertical-align: middle;
    text-align: center;
    background : #fff;
    outline: 1px solid #ddd;
    transition: 0.1s;
    overflow: hidden;
    cursor: pointer;
    position: relative;

    .#{$prefix}label{
      position: absolute;
      background: rgba(255, 255, 255, 0.8);
      bottom: 0;
      left: 0;
      right: 0;
      height: 30px;
      line-height: 30px;
      color: $primary1Color;
    }

    img{
      border: 0;
      width: 100%;
      height: 100%;
    }

    &:hover{
      outline: 3px solid $primary1Color;
    }

    &:active{
      outline: 5px solid $primary1Color;
      opacity: 0.7;
    }

    &.#{$prefix}active{
      outline: 3px solid #333;

      .#{$prefix}label{
        color: #333;
      }
    }

  }
  
}