$baseClass : 'cmaps-custom-dialog-component';

.#{$baseClass} {
    font-family: "Roboto", sans-serif !important;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.541176);
    z-index: 999;

    .#{$baseClass}-dialog {
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        z-index: 20;
        padding: 20px;
        box-shadow: rgba(0, 0, 0, 0.247059) 0 14px 45px, rgba(0, 0, 0, 0.219608) 0 10px 18px;
        border-radius: 2px;

        .#{$baseClass}-dialog-header {
            position: relative;
            display: flex;
            height: 10%;
            justify-content: flex-start;
            align-items: center;
            width: 100%;

            .#{$baseClass}-dialog-header-title {
                margin: 0 0 -1px;
                color: rgba(0, 0, 0, 0.8);
                font-size: 22px;
                line-height: 32px;
                font-weight: 400;
            }
        }

        .#{$baseClass}-dialog-content {
            position: relative;
            width: 100%;
        }

        .#{$baseClass}-dialog-footer {
            position: relative;
            width: 100%;
            height: 10%;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
        }
    }
}

