$baseClass : 'ibama-formulario-busca-processos';

.#{$baseClass} {

    .#{$baseClass}-popover{
        position: absolute;
        z-index: 10;
        width: 315px;
        margin-left: -325px;
        margin-top: -15px;
        background: rgba(0,0,0,.75);
        color: #fff;
        text-align: justify;
        border-radius: 7px;

        &:before{
            position : absolute;
            top: 25px;
            left:100%;
            border-left: 10px solid rgba(0,0,0,.75);
            border-right: 10px solid rgba(0,0,0,0);
            border-bottom: 10px solid rgba(0,0,0,0);
            border-top: 10px solid rgba(0,0,0,0);
            content : '';
        }
    }

}