@import "../../../../style/variables";

$baseClass : $prefix + 'analysis-form-general-tab';

.#{$baseClass} {
    width: 100%;

    .#{$baseClass}-row{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 5px;
        width: auto;
        align-items: flex-start;
        flex-wrap: nowrap;
        margin-bottom: 10px;

        & > div{
            width: calc(50% - 30px);
        }
    }

}